DATABASE="mongodb+srv://username:password@cluster0.6ivfjre.mongodb.net/db_name"
JWT_SECRET="CHUOINGAUNHIEN"
EMAIL_USERNAME="levana@gmail.com" # Email của mật khẩu ứng dụng
EMAIL_PASSWORD="mật khẩu ứng dụng" # Mật khẩu ứng dụng
EMAIL_SECURE="false" # false: http, true: https
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
